<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="ion-text-center inicio">
      <ion-icon slot="start" name="logo-twitter" class="logo"></ion-icon>
      <h3>@DuocUC</h3>
    </ion-label>

    <ion-title mode="ios">
      <ion-label>
        <ion-icon name="logo-instagram" class="logo"></ion-icon>
        <h3>@duocuc_cl</h3>
      </ion-label>
    </ion-title>

    <ion-label slot="end" class="ion-text-center fin">
      <ion-icon name="logo-whatsapp" class="logo"></ion-icon>
      <h3>+56 2354 0200</h3>
    </ion-label>
  </ion-toolbar>
</ion-footer>
