<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="fondo">

  <ion-item id="itemheader">
    <ion-label>Configuración</ion-label>
  </ion-item>

  <ion-item *ngFor="let item of menuItemToggle" class="menuopt">
    <ion-icon slot="start" [name]="item.icon"></ion-icon>
    <ion-label [id]="item.id">{{item.label}}</ion-label>
    <ion-toggle slot="end" color="primary"></ion-toggle>
  </ion-item>

  <ion-item class="menuopt">
    <ion-icon slot="start" name="notifications"></ion-icon>
    <ion-label>Notificaciones</ion-label>
    <ion-select value="na" multiple="false" placeholder="Selecciona la configuracion">
      <ion-select-option value="na">Nunca</ion-select-option>
      <ion-select-option value="diaria">Diarias</ion-select-option>
      <ion-select-option value="semanal">Semanal</ion-select-option>
      <ion-select-option value="mensual">Mensual</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
