<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Easy Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="fondo">
  <div *ngIf="logedBool | async; then loged else notLoged"></div>
    <ng-template #notLoged>
      <div id="centrar">
        <div>
          <img src="assets/logo.png" style="padding: 0; margin: 0;">
        </div>
        <ion-button routerLink="/login" expand="block" fill="solid" shape="round" id="botonIngresar">
          Registrarse
        </ion-button>
      </div>
    </ng-template>
    <ng-template #loged>
      <div id="centrar">
        <div>
          <h1>Bienvenido {{user | async}}</h1>
          <img src="assets/logo.png" style="padding: 0; margin: 0;">
        </div>
        <ion-button routerLink="/horario" expand="block" fill="solid" shape="round" id="botonIngresar">
          Ingresar
        </ion-button>
      </div>
    </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
