<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content id="fondo">
  <ion-item id="itemheader">
    <ion-label>Ayuda</ion-label>
  </ion-item>

  <ion-item class="itemcentral">
    <ion-label class="labelstart" slot="start">1</ion-label>
    <ion-label class="labelend" slot="end">Presiona escanear QR</ion-label>
  </ion-item>

  <ion-item class="itemcentral">
    <ion-label class="labelstart" slot="start">2</ion-label>
    <ion-label class="labelend" slot="end">Centra el código en la cámara</ion-label>
  </ion-item>

  <ion-item class="itemcentral">
    <ion-label class="labelstart" slot="start">3</ion-label>
    <ion-label class="labelend" slot="end">¡Listo! Ya quedaste presente</ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
