.test {
  color:red;
}

ion-accordion {
  --background: #256d85;
  background: #256d85;

  ion-item {
    --background: #256d85;
    background: #256d85;
    border-bottom: 1px solid white;
  }
}

.subcategoria {
  p, span{
    color: white;
  }
}

progress::-moz-progress-bar {
  background: linear-gradient(to right, #00d7a3, #ffffff);
  border-radius: 8px;
}
progress::-webkit-progress-bar {
  background-color: #00D7A3;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background: linear-gradient(to right, #00d7a3, #ffffff);
  border-radius: 8px;
}
progress {
  background: linear-gradient(to right, #00d7a3, #ffffff);
  border-radius: 8px;
}
