.menu-special{
  --background: #8FE3CF;
  color: black;

  ion-item, ion-label {
    --color: black;
    --background: #8FE3CF;
    background: #8FE3CF;
    color: black;

  }
  ion-icon{
    color: black;
    --background: #8FE3CF;
    background: #8FE3CF;
  }
}

#menu-fondo{
  --background:#2B4865;
  ion-item, ion-label {
    --color: var(--ion-color-dark-contrast);
    --background: #2B4865;
    background: #2B4865;
    color: var(--ion-color-dark-contrast);

  }
  ion-icon{
    color:#8FE3CF;
    --background: #2B4865;
    background: #2B4865;
  }
}
